doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title skeleton
    meta(name='description', content='basic skeleton for front end development')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='app.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='app.js')
  body
    div.section
      .container
        .row
          .one-half.column(style='margin-top: 25%')
            h4 skeleton
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus distinctio itaque sit, expedita ea dolore eveniet libero deserunt dignissimos explicabo atque amet fugit labore fugiat hic id aspernatur, consectetur. Vero.

